<h1 class="flex flex-col items-center font-bold text-3xl mt-10">Search Recipes Based on Cusine, Calorie Range or Specific id</h1>
<div class="flex flex-col items-center mt-14">
    <div class="flex justify-center">
      <div class="m-10 flex flex-col items-center">
        <label class="font-bold" for="cuisine">Search By Cuisine:</label>
        <div class="flex items-center mt-2">
          <select [(ngModel)]="selectedOption" id="cuisine" class="p-2 rounded-md border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
          </select>
          <button class="py-2 px-4 ml-4 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="search()">Search</button>
        </div>
      </div>
  
      <div class="m-10 flex flex-col items-center">
        <label class="font-bold" for="calorieRange">Search By Calorie Range:</label>
        <div class="flex items-center mt-2 whitespace-nowrap">
          <input type="number" [(ngModel)]="searchText" id="lowerRange" min="0" max="1000" placeholder="Low ">
          <input  type="number" [(ngModel)]="searchText2" id="upperRange" min="0" max="100" placeholder="Up ">
          <button class="py-2 px-4 ml-4 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="searchByRange()">Search</button>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center">
      <div class="m-10">
        <label class="font-bold" for="id">Search By Id:</label>
        <input type="text" [(ngModel)]="searchTextid" id="id" placeholder="Enter search text">
        <button class="py-2 px-4 ml-4 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" (click)="searchById()">Search</button>
      </div>
    </div>
  
    <hr class="border-t border-pink-500 my-4">

    <div class="mt-4 font-bold text-4xl">Search Results</div>
  <br>

  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let recipe of recipes" class="bg-white rounded-lg shadow-lg p-6">
      <img src="{{recipe.url}}" alt="desc">
      <div>
        <div class="font-bold">{{recipe.title}}</div>
        <div>Recipe Id: {{recipe.id}}</div>
        <div>Calories: {{recipe.calories}} Cuisine: {{recipe.cusine}}</div>
        <div>
          <a class="font-bold text-blue-900" routerLink="/recipe-details/{{recipe.id}}">Get More Info</a>
        </div>
      </div>
      <hr class="border-t border-pink-500 my-4">
      <div>Reviews:</div>
      <div *ngFor="let review of recipe.reviews">
        <hr class="border-t">
        <ul>
          <li>
            By: {{review.username}}  Rating: {{review.rating}}
          </li>
          <li>
            Comments: {{review.comment}} 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



