<div class="flex flex-col items-center">
    <div class="w-64 h-64 bg-white rounded-lg shadow-md flex items-center justify-center">
      <img src="assets/olive.jpg" alt="CookBook Image" class="w-100">
    </div>
    <h1 class="text-3xl font-bold mt-6">Welcome to my CookBook Recipe App!</h1>
    <p class="text-lg leading-tight text-center mt-2">You can explore tons of recipes, add them to your favorites, rate your recipes,<br>and discuss them in your message board!</p>
    <p class="text-lg text-center">Search recipes based on calories and cuisine.</p>
    <blockquote class="italic text-xl mt-6">"Transform every meal into a cherished moment for you and your loved ones."</blockquote>
 
  </div>
<!-- HTML -->
<!-- <div class="flex flex-col items-center mt-20 p-14">
   
    <h1 class="text-3xl font-bold mt-6">Welcome to my CookBook Recipe App!</h1>
    <blockquote class="italic text-xl mt-6">"Transform every meal into a cherished moment for you and your loved ones."</blockquote>
    <p class="text-lg">You can explore tons of recipes, add them to your favorites, rate your recipes, and discuss them in your message board!</p>
    <p class="text-lg">Search recipes based on calories and cuisine.</p>
    
    
</div>
<div class="w-300 h-400 bg-white rounded-lg shadow-md flex items-center justify-center">
    <img src="assets/olive.jpg" alt="CookBook Image" class="w-75">
</div>
   -->