<div class="mt-10 flex flex-col items-center">
    <div class="text-4xl font-bold">Recipe List</div>
    <br>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="bg-white rounded shadow p-4" *ngFor="let recipe of recipes">
          <!-- Card content here -->
          <img class="w-full mb-4" [src]="recipe.url" alt="{{ recipe.title }}">
          <h5 class="text-lg font-semibold">{{ recipe.title }}</h5>
          <p>Cusine:{{ recipe.cusine }} Calories:{{recipe.calories}}</p>
          <div><a class="font-bold text-blue-900" routerLink="/recipe-details/{{recipe.id}}">Get More Info...</a> </div>
       
        </div>
      </div>
      

   

</div>

